{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
  },
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": ["warn"],
    "import/no-unresolved": ["error", {
        "ignore": [
          "config"
        ]
    }]
  }
}
